<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

    <section style="height: 100vh">
      <br><br><br><br>
      <div class="container">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Número do pedido</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <% pedidos.forEach(function(pedido){ %>
              <tr>
                <th scope="row">
                  <%= pedido.codigo %>
                </th>
                <td>
                  <%= pedido.valor.toLocaleString('pt-BR', { style: 'currency' , currency: 'BRL' }) %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>